@use "devices";

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  height: 80vh;
  position: relative;

  img {
    width: 300px;
  }

  p {
    text-align: center;
    font-size: 2.2rem;
    font-family: monospace;
    position: absolute;
    bottom: -10%;
    font-weight: 600;

    span {
      color: #01a89e;
    }
  }

  @media screen and (max-width: devices.$tablet) {
    flex-direction: column;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
